body {
  background-color: #37dee2;
}

#title {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#window {
  background-image: url("./img/closed-window.png");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 469px;
  height: 337px;
}

#window:hover {
  background-image: url("./img/open-window.png");
}
